body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
    background: white;
    color: #222222;
    padding: 0;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
    font-size: 16px;
}

.title {
    position: relative;
    width: 100%;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
    text-align: center !important;
    box-sizing: border-box;
}

h1{
    font-size: 2.75em;
}

h4 {
    font-size: 1.4375em;
}

.row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5em;
}

.board-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
    text-align: center !important;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    box-sizing: border-box;
}

.subheader {
    line-height: 1.4;
    color: #6f6f6f;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}

.board {
    margin-top: 2em;
    margin-bottom: 2em;
    display: table;
    padding: 0;
    box-sizing: border-box;
    text-align: center !important;
}

.board-inactive {
    margin-top: 2em;
    margin-bottom: 2em;
    display: table;
    padding: 0;
    box-sizing: border-box;
    text-align: center !important;
    opacity: 0.5;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

.square{
    width:100px;
    height:100px;
}

.v{
    border-left:5px solid rgb(220, 235, 223);
    border-right:5px solid rgb(220, 235, 223);
}

.h{
    border-top:5px solid rgb(220, 235, 223);
    border-bottom:5px solid rgb(220, 235, 223);
}

.middle {
    border: 5px solid rgb(220, 235, 223);
}

.game-control{
    margin-bottom: 2.5em;
    margin-top: 2.2em;
}

.control {
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
    text-align: center !important;
    display: block;
}

.control-focused {
    box-shadow: 3px 3px 15px #666;
    border: inset #401F17;;
    background: #509C7D;
    color: #fff;
    cursor: pointer;
    zoom:1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.control-faded {
    zoom: 1;
    filter: alpha(opacity=45);
    opacity: 0.45;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.computer {
    color: #624c47;
}

.human {
    color: #afd9c8;
}

.input-player-name {
    left:50%;
    margin-left:-150px;
    position:absolute;
    width:300px;
}

.form-control{
    padding: 25px;
}

.first-player-select{
    margin-top: 0px !important;
}

.nav {
    left:50%;
    margin-left:-150px;
    position:absolute;
    margin-top: 100px;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.continue-selection {
    margin-left: 659px;
}